@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #000103;
}

::-webkit-scrollbar-thumb{
  background-color:#7171EB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #9797ee;
}

html{
  scroll-behavior: smooth;
}